In [28]:
import pandas as pd
import pymysql

# csv file
sts = pd.read_csv('/Users/followthesnake/Desktop/data/state.csv')
print(sts.info())

state = sts['State']
pop = sts['Population']
mur = sts['Murder.Rate']
abbr = sts['Abbreviation']

config = {
    'host' : 'localhost',
    'user' : 'root',
    'password' : '',
    'database' : 'pythondb',
    'port' : 3306,
    'charset' : 'utf8',
    'use_unicode' : True
}

try:
    conn = pymysql.connect(**config)
    cursor = conn.cursor()

    # table 조회
    cursor.execute("show tables")
    tables = cursor.fetchall()

    # switching 기법
    sw = False
    for table in tables:
        if table[0] == 'states_tab':
            sw = True # table 있는 경우 swapping

    if not sw :
        print('no table')
        sql="""create table states_tab(
        states varchar(30),
        population int not null,
        murder_rate int not null,
        abbreviation varchar(5)
        )"""
        cursor.execute(sql)

    # value search
    cursor.execute("select * from states_tab")
    rows = cursor.fetchall()

    if rows:
        for row in rows :
            print(f"{row[0]}    {row[1]}    {row[2]}    {row[3]}")
        print('Number of whole record: ', len(rows))
    else:
        print("Adding 100 values")
        for i in range(100):
            s = state[i]
            p = pop[i]
            m = mur[i]
            a = abbr[i]
            cursor.execute(f"insert into states_tab (state, pop, mur, abbr) values ('{s}', {p}, {m}, '{a}')")
            conn.commit()

except Exception as e:
    print('db error: ', e)
finally:
    cursor.close()
    conn.close()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         50 non-null     object
 1   Population    50 non-null     int64
 2   Murder.Rate   50 non-null     float64
 3   Abbreviation  50 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB
None
Alabama    4779736    6    AL
Alaska    710231    6    AK
Arizona    6392017    5    AZ
Arkansas    2915918    6    AR
California    37253956    4    CA
Colorado    5029196    3    CO
Connecticut    3574097    2    CT
Delaware    897934    6    DE
Florida    18801310    6    FL
Georgia    9687653    6    GA
Hawaii    1360301    2    HI
Idaho    1567582    2    ID
Illinois    12830632    5    IL
Indiana    6483802    5    IN
Iowa    3046355    2    IA
Kansas    2853118    3    KS
Kentucky    4339367    4    KY
Louisiana    4533372    10    LA
Maine    1328361    2    ME
Maryland    5773552    6    MD
Massachusetts    6547629    2    MA
Michigan    9883640    5    MI
Minnesota    5303925    2    MN
Mississippi    2967297    9    MS
Missouri    5988927    7    MO
Montana    989415    4    MT
Nebraska    1826341    3    NE
Nevada    2700551    6    NV
New Hampshire    1316470    1    NH
New Jersey    8791894    4    NJ
New Mexico    2059179    5    NM
New York    19378102    3    NY
North Carolina    9535483    5    NC
North Dakota    672591    3    ND
Ohio    11536504    4    OH
Oklahoma    3751351    5    OK
Oregon    3831074    2    OR
Pennsylvania    12702379    5    PA
Rhode Island    1052567    2    RI
South Carolina    4625364    6    SC
South Dakota    814180    2    SD
Tennessee    6346105    6    TN
Texas    25145561    4    TX
Utah    2763885    2    UT
Vermont    625741    2    VT
Virginia    8001024    4    VA
Washington    6724540    3    WA
West Virginia    1852994    4    WV
Wisconsin    5686986    3    WI
Wyoming    563626    3    WY
Number of whole record:  50